

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

/* Медіазапит для пристроїв з шириною екрану менше або рівну 768px */

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  
  p {
    font-size: 14px;
  }
}

/* Медіазапит для пристроїв з шириною екрану більше 1200px */

@media (min-width: 1200px) {
  h1 {
    font-size: 28px;
  }
  
  p {
    font-size: 18px;
  }
}

/* Інші медіазапити */

@media (min-width: 992px) and (max-width: 1199px) {
  /* Стилі для пристроїв з шириною екрану між 992px і 1199px */
}

@media screen and (orientation: landscape) {
  /* Стилі для пристроїв у горизонтальній орієнтації */
}
